<div class="login">
  <div class="container">
    <div class="form">

    <h1>New Email</h1>

    <%= form_for(@email) do |f| %>
      <%= f.hidden_field :authorId, :value => current_user.id %>
      <%= f.text_field :title, :placeholder => "Title" %>
      <%= text_field_tag 'username',nil,  placeholder: 'Recepient\'s Username'%>
      <%= f.text_area :body, :placeholder => "Email Content", cols: "50", rows: "10"%>
      <%= f.submit "Send", class: "btn-submit" %>
    <% end %>

  
    </div>
  </div>
</div>